.header__menu {
  margin: 92px 50px;
  display: grid;
  grid-template-areas: "list logo address";
}
.header__links-list {
  grid-area: list;
  width: 240px;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  width: 388px;
  list-style: circle;
  justify-content: space-between;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__links-list :first-child {
  list-style: none;
}
.header__links-list :hover {
  text-decoration: none;
}
.header__logo {
  grid-area: logo;
}
.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  background-image: url("../images/logo-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.address {
  grid-area: address;
  align-self: end;
  justify-self: end;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 757px;
  z-index: 1;
  display: grid;
}
.cover__title {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-gap: 8px;
  padding-top: 165px;
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.title_word {
  padding-top: 5px;
}
.title_word-first {
  justify-self: start;
  padding-top: 5px;
}
.title_word_second {
  padding-top: 7px;
}
.title_letter_space {
  letter-spacing: 60px;
}
.title_letter_no-space {
  letter-spacing: 0px;
}
.title_word-third {
  text-align: end;
  display: block;
}
.overlay {
  position: absolute;
  opacity: 0.6;
  background: #000;
  inset: 0;
}
.cover__description {
  display: flex;
  justify-content: flex-end;
  padding-top: 130px;
}
.cover__description-text {
  margin-right: 78px;
  z-index: 10;
  word-spacing: 17px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
.cover__description-text-space {
  word-spacing: 21px;
}
.bet-button {
  padding: 0;
  position: relative;
  top: -13px;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
  margin-right: 51px;
  z-index: 10;
  color: #fff;
  background-color: transparent;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
}

/* section lots */
.lots {
  margin-left: 24px;
  margin-right: 24px;
}
.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}
.lots__card-list {
  list-style-type: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: 30px;
}
.lots__card-list-item {
  width: 334px;
  height: 563px;
  flex-shrink: 0;
  flex-grow: 1;
  overflow: hidden;
}
.card {
  z-index: 10;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card-link {
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;
}
.card__title {
  z-index: 10;
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 10;
  padding-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
}

.about {
  margin-top: 148px;
  display: grid;
  margin-right: 24px;
  margin-left: 24px;
  padding-top: 36px;
  grid-template-columns: 1fr 2fr;

  grid-template-areas:
    "about_logo about_title"
    "about_logo about_text";
}
.about__logo {
  box-sizing: border-box;
  background-color: #000;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  background-position: center;
}
.about__column-logo {
  grid-area: about_logo;
  justify-self: center;
}

.about__title {
  grid-area: about_title;
  align-self: center;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 100px;
}
.about__text {
  grid-area: about_text;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.about__column-text :last-child {
  margin-top: 24px;
}
.about__column-text {
  margin-top: 100px;
  align-self: end;
  justify-self: end;
  margin-top: 24px;
}
.footer {
  margin: 180px 50px 88px;
  display: flex;
  justify-content: space-between;
}
.footer__menu-list {
  list-style-type: none;
}
.footer__menu-link {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}
.footer__social-list-item {
  width: 48px;
  height: 48px;
}
