.header__menu {
    margin: 92px 50px;
    display: flex;
    justify-content: space-between;
}
.header__links-list {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    width: 388px;
    list-style: circle;
    justify-content: space-between;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__links-list :first-child {
    list-style: none;
}
.header__links-list :hover{
    text-decoration: none;
}
.header__logo {
    justify-self: flex-end;
    align-self: flex-end;
    justify-items: first center;
}
.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
    background-image: url("../images/logo-black.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.address {
    justify-self: flex-end;
    align-items: center;
    align-self: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
}